---
import "../styles/global.css";
import { Font } from "astro:assets";
import Header from "../components/header.svelte";
import Stats from "../components/stats.svelte";
import Nav from "../components/nav.svelte";
import IdleListener from "../components/idle.listener.svelte";
import RoutesListener from "../components/routes.listener.svelte";
import WindowListener from "../components/window.listener.svelte";
---

<!doctype html>
<html lang="en">
  <head>
    <!--

    (҂◡_◡) ᕤ

    Thanks for taking a look behind the curtain.
    Check out the repo: https://github.com/josephfh/josephfh-portfolio

    -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Joseph Hughes - Frontend developer</title>
    <Font cssVariable="--font-monomakh" preload />
  </head>
  <body>
    <div class="mx-20 mt-16 mb-10">
      <Header client:idle />
      <div class="mt-16 mb-8">
        <Nav client:idle />
      </div>
      <slot />
      <Stats client:only />

      <WindowListener client:only />
      <RoutesListener client:only />
      <IdleListener client:idle />
    </div>
  </body>
</html>
