---
import "../styles/global.css";
import { Font } from "astro:assets";
import Header from "../components/header.svelte";
import Nav from "../components/nav.svelte";
import RoutesListener from "../components/routes.listener.svelte";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Joseph Hughes - Frontend developer</title>
    <Font cssVariable="--font-monomakh" preload />
  </head>
  <body>
    <div class="mx-20 mt-16 mb-10">
      <Header />

      <div class="mt-16 mb-8">
        <Nav client:load />
      </div>

      <slot />

      <!-- <div class="bg-linear-to-b/increasing from-indigo-500 to-teal-400 flex w-2 top-0 absolute left-0 h-screen"></div>

      <div class="bg-teal-600 flex w-2 top-0 absolute left-0 h-screen opacity-60 hover:opacity-0 duration-200 transition-all"></div> -->

      <RoutesListener client:only />
    </div>
  </body>
</html>
